.btn {
    border: 1px solid $color-sand;
    color: $color-sand;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;

    padding: 1.3rem 3rem;
    text-decoration: none;

    &__clear {
        font-size: 1rem;
        
        display: flex;
        justify-content: center;
        width:215px;
    }
    
}

   

.btn__call {
    border: 1px solid $color-sand;
    color:$color-white;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.2px;

    width: 20%;
    padding: 1.3rem 2.8rem;
    text-decoration: none;
    text-align: center;
    
    }
   
   
.btn__bcgSand {
    border: 1px solid $color-sand;
    color: $color-black;
    background-color: $color-sand;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.44px;

    width: 20%;
    padding: 1.3rem 2.8rem;
    text-align: center;
    text-decoration: none;
    
    
    }
    .btn__subscribe {
        text-decoration: none;
        background-color: $color-white;
        color: $color-black;
        // width: 10rem;
        padding: 1rem 2rem;
    }