
@media (max-width: 768px) {
  .nodisplay {
    display: none;
    width:0%;
  }
    .header__nav{
    .burger {
        margin-top:1rem;
        display: block;
        position: relative;
        
      }
        
      .burger.active .bar:nth-child(2) {
        opacity: 0;
      }
    
      .burger.active .bar:nth-child(1) {
        position:fixed;
        transform: translateY(4px) rotate(45deg);
        background-color: $color-black;
        
        
      }
    
      .burger.active .bar:nth-child(3) {
        position:fixed;
        transform: translateY(-4px) rotate(-45deg);
        background-color:$color-black;
        
      }
      
      .lists {
        position: fixed;
        left: -100%;
        top: 0;
        gap: 0;
    
        flex-direction: column;
        align-items:flex-end;
        padding-right: 2rem;
        width: 60%;
    
        text-align:center;
        background-color: #FFFFFF;
        color: #000000;
    
        transition: .3s;
      }
    
      .list {
        margin: 16px 0;
        color: #000000;
            
      }
    
      .lists.active {
        left: 0;
        
      }
    }

    .btn {
     
      font-size: 0.8rem;
      margin-bottom: 1rem;
      padding: 0.8rem 1.5rem;
      
  
      &__clear {
          font-size: 1rem;
          
          display: flex;
          justify-content: center;
          width:215px;
      }
      
  }
  
     
  
  .btn__call {
   
      font-size: 0.8rem;
      width: 30%;
      padding: 0.8rem 1rem;
      margin: 1rem 0 0.5rem 0;
      
      }
     
     
  .btn__bcgSand {
      font-size: 0.8rem;
       
      width: 30%;
      padding: 0.8rem 1.8rem;
      margin: 0.5rem 0 0.5rem 0;
      }
      .btn__subscribe {
          text-decoration: none;
          background-color: $color-white;
          color: $color-black;
          // width: 10rem;
          padding: 1rem 2rem;
          
      }
  
      .btn__reserv {
          padding: 0.8rem 1.5rem;
          margin-top: 1.5rem;
          
      }
  
      
          html,
          body {  
          letter-spacing: 0.1px;
                 
          }
          
          .container {
              max-width: 90%;
              }
            
      .header {
        // width: 100%;
        // height: auto;
        // top: 0;
        // background-color: $color-black;
        
        .nav {
            min-height: 80px;
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            // padding: 0 24px;
          }
          
            
        &__top {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:flex-end;
            gap: 0.5rem;
            position: relative;
    
                .logo {
                    padding: 0.5rem 0;
                    height: 120px;

                    position:absolute;
                    margin-right: 20rem;
                }
        }
    
       
        
    
        &__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
          
           
           
            .social {
                height: 20px;
           }
    
        }
    
        &__banner {
          margin-top:1.5rem;
           width:100%;

            .leftside{
                width:100%;
                gap:2rem;

                background-image: url(../img/banner_image.png);
                background-repeat: no-repeat;
                background-position: right 0% ; 
                background-size: 42%;
                
    
                margin-left: 7%;
    
                &__title {
                   
                    font-size: 3rem;
                  
                }
                &__content {
                    font-size: 0.9rem;
                    width: 50%;

                    br {
                      display:none;
                    }
                  }
            }
            .rightside{
                
                display:none;
                     
            }
    
        }
    }
    
  .about {
      
      flex-direction: column;
      justify-content:flex-start;
      align-items:flex-start;
      gap:2rem;  
      
      padding:1.5rem 0;
  
      .aboutpart {
          
          .pics {
            width:3rem;
              
          }
          
          .description {
              gap: 0.3rem;
  
              .subtitle {
                  font-size: 1.2rem;
                  
              }
              .text {
                  font-size: 0.9rem;
                
              }
          }
      }
      
  }
  .story {
      display: none;
    
      
  }
  
  .testimonial{
    display: none;
  }
  .middlebanner {
      height:220px;
      
  }
  
  .offer {
      max-width:450px;
      
      gap:0.8rem;
      margin-top:2rem;
          
      &__title {
          font-size: 1.6rem;
         }
      &__text {
         
          padding-bottom: 1.5rem;
      }
  }
  .special {
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      gap:2rem;
  
  
      &__offer {
          width:100%;
          
          padding: 2rem 2rem 2rem 2rem;
      }
  
  
  }
  
  .dishes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      gap:0.9rem;
      width:100%;

      margin-bottom: 1rem;
  
  
      .card {
         
          width:33%;
          height:20rem;
        
          &__img {
              width:100%;
  
          }
          &__title {
              
              font-size: 1.1rem;
              
              padding: 0.7rem 0;
          
          }
          
        
          &__description {
              padding:0.7rem 0;
              line-height: 1.2;
              
  
          }
  
      }
  }
  

 
  .services {
      display: none;
   }
  .reservation {
       height:577px;
  
      &__background {
          
          height:420px;
          width:60%;
                 
          margin-top: 90px;
          margin-left: 20%;
          margin-right: 20%;
          
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding:2rem;
  
          
          .title {
              font-size: 1.6rem;
              }
          .inputs {
  
              gap: 1rem;
  
              &__1 {
                  
                  width:10rem;
                  margin: 1rem 0;
                  padding:0.8rem 0 0.8rem 0.8rem;
                  
              }
              &__2 {
                  
                  width:6.3rem;
                  padding:0.8rem 0 0.8rem 0.8rem;
                  background-color: $color-black;
      
          
              }
  
          }
      }
  }

  
  
  
  
  .topfooter {
      display:none;
  
  }
  .middlefooter {
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding:1rem 0;
      
  
      &__left {
            
          .chapter {
              margin: 1.5rem 0;
            
          }
          .link {
              text-decoration: none;
              color: $color-sand;
          }
  
      }
  
      &__center {
        display:none;
  
      }
   
  
  }
  .bottomfooter {
     display:none;
  }
.chapter {
  margin-top:1.5rem;
}  

.menu {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:5rem;
    // width:100%;

    

    &__leftpart {
        display:none;
       
    }

    &__rightpart {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        gap:1.5rem;
        width:auto;
       
        height:auto;
        // max-width:1000px;
       

        .category {
            font-size: 1.4rem;
            font-family: 'Cormorant Infant', serif;
                }

        
        .dish{
            display:flex;
            justify-content: flex-start;
            align-items: center;
            gap:1rem;
            width:100%;
            
        }
        .dishdisplay {
            display:flex;
            flex-direction: column;
            // justify-content: space-between;
            align-items: flex-start;
            // width: fit-content;
            // gap:1.5rem;
            

        }
        .dishdisplay1 {
           
            
            border-bottom: 2px solid #AAAAAA;
            position: relative;
            float: left;
            width:100%;
            // height:20px;
            // width:600px;
            
        }
        .dishimage{
            width:65px;

        }
        .dishname {
            font-family: 'Cormorant Infant', serif;
            color: $color-black;
            font-size: 1.3rem;
        }
        .dishdescription{
            padding-right: 12em;
            margin-top: -1.2rem;
            color:#555555;
            // width:auto;
            // float:left;
            
            
        }
        .dishdescription span {
            // margin:0;
            position:relative;
            top: 1.9em;
            padding-right:5px;
            background-color: $color-white;
        }
        
        .dishprice{
            font-family: 'Cormorant Infant', serif;
            color: $color-black;
            font-size: 1.3rem;
            
            padding:1px 0 1px 5px;
            position:relative;
            top:.4em;
            
            float:right;
            background-color: $color-white;
        }

    }
}



}

@media (min-width:769px) and (max-width: 1024px) {
  html,
  body {  
      letter-spacing: 0.1px;
          
  }

.container {
    max-width: 95%;
  }
.btn {
    
    font-size: 0.9rem;

    padding: 1rem 2rem;
    
    &__clear {
        font-size: 0.9rem;
        
        width:195px;
    }
    
}

.btn__call {
   
    font-size: 0.9rem;
        
    padding: 1rem 1.3rem;
    
    }
    
.btn__bcgSand {
        
    font-size: 0.9rem;    
    letter-spacing: 0.44px;

    padding: 1rem 1.5rem;
        
    }

    .btn__subscribe {
      
        padding: 1rem 1.5rem;
        
    }

    .btn__reserv {
        
        padding: .8rem 1.8rem;
        margin-top: 1.8rem;
          
    }
  
  .header {
    
    &__top {
                .logo {
                margin: 1.9rem 0;
                height: 130px;
            }
    }

    &__nav {
        .lists {
            gap:2.3rem;
            
            margin: 1rem 0;
            font-size: 1rem;
            letter-spacing: 0.2px;
            
        }
                
        .social {
            height: 20px;

        }

    }

    &__banner {
       
        .leftside{
            width:50%;    
            gap:2rem;

           // margin-left: 7%;

            &__title {
                
                font-size: 3.5rem;                
                letter-spacing: 0.2px;

            }
            &__content {
              br {
                display: none;
              }
                font-size: 1rem;
                padding-right: 1rem;
                
                letter-spacing: 0.2px;
            }
        }
        .rightside{
            grid-template-columns: 18px 1fr 1fr 18px;
            grid-template-rows: 18px 1fr;
            
                        
            .bannerimage {
              
                width:100%;
                padding:0 1rem;
          
            }
            
            .bannerhinge {

                width:250px;
                margin-top: -20px;
                margin-right: -20px;
                
            }
        
        }

    }
    
}
.about {
  
  gap:3.5rem;  
  padding:2.5rem 0;

  .aboutpart {
      gap: 1rem;

      .pics {
          
          padding:.6rem;
          width:3rem;
          
      }

      .description {
          
          gap: 0.3rem;

          .subtitle {
              
              font-size: 1.1rem;
              letter-spacing: 0.1px;
              
          }
          .text {
              font-size: 0.9rem;
              
          }
      }
  }
  
}
.story {
  
  gap: 2rem;
  padding:2rem 0 3rem 0;

  &__left{
      width:50%;

  }
  &__right {
      
      .title {
          font-size: 1.8rem;
          padding:0 0 1.2rem 0;
      }
      .text {
          
          padding: 0 0 1.2rem 0;
          font-size: 0.9rem;
      }
      .years {
          
          gap:1.8rem;
      }
      .signature{
          height: 80px;
          // padding: 2rem 0;
      }
  }
}

.testimonial{
  padding: 3rem 0;
  
  &__chapter {
      
      font-size: 0.6rem;
      padding:0.4rem 0 0.3rem 0;
  }
  
  &__title {
      font-size: 1.8rem;
      padding:0.8rem 0;

  }
  &__text {
      
      padding: 0 0 1.2rem 0;
      font-size: 1rem;
      
  }
  .reviewcards {
      gap:1.5rem;

      margin: 1.5rem 0 2.5rem 0;

      .reviewcard {
          
          width:30%;
          height:100%;
          padding: 0 1.2rem;

          .reviewer {
            justify-content:space-around;
              
              gap: 0rem;

              .cardphoto {
                  width: 30%;
              }
              
              .name {
                  font-size: 1rem;
                  padding-bottom: 0.3rem;
              }
              .city {
                  font-size: 0.9rem;
              }
          }

          .line {
                margin: 1rem 0;
          }
          .cardtext {
              line-height: 1.2rem;
              font-size: 1rem;
              letter-spacing: 0px;
          }
      }
  }

}
.middlebanner {
  
  height:350px;
}
.offer {
  // max-width:680px;  
  gap:0.9rem;
  margin-top:4rem;
  
  &__chapter {
      font-size: 0.6rem;
      padding:0.4rem 0 0.3rem 0;
      }
  &__title {
      font-size: 1.8rem;
  }
  &__text {
      
      padding-bottom: 1.5rem;
  }
}
.special {
  gap:1.5rem;


  &__offer {
      
      padding: 2rem 1.5rem 2rem 1.5rem;
      
      &__right{
          background-image: url(../img/greycardbcg.png);
      }

      .leftside {
          
          width:50%;
  
          .price_2 {
              font-size: 2rem;
              padding-bottom: 1.5rem;
              
          }
          .middletext{
                        
              padding: 0.4rem 0 0.3rem 0;
              letter-spacing: 3px;
              font-size: 0.7rem;
              width:85%;

          }

          .dishname{
              font-size: 1.2rem;
              padding: 0.3rem 0;

          }
          .dishdescr {
              font-size: 0.9rem;

          }
      }
    
      .rightside {
          
          padding-top:20px;
          height: 140px;
          
          &__right {

              height:180px;
          }
      }
  }
}

.dishes {
    
  gap:0.7rem;

  .card {
         
      &__title {                   
          font-size: 1.1rem;
          padding: 0.6rem 0;
          
      }
            
      &__description {
          padding:0.6rem 0;
          line-height: 1.3;
          
      }
  }
}
.borders {
  margin: 2rem 0 4rem 0;
}

.services {
    
  margin:5rem 0;
  padding: 4rem 0;  
  gap:2rem;


  &__leftside {
      width:35%;
      gap:0.7rem;
     

      .chapter {
        margin:0rem 0 0.7rem 0;
          font-size: 0.6rem;
          padding:0.4rem 0 0.3rem 0;
          
      }
      .title {
          
          font-size: 1.8rem;

      }
      .text {
          line-height: 1.3;
          font-size: 0.9rem;

      }
  }

  &__rightside {
      
      gap: 1rem;

      .pictos {
          
          gap:0.5rem;

          border: 12px solid #323841;
          padding:1.5rem;

          &__img{
              width: 35px;
              
          }

          &__title{
              font-size: 0.9rem;

          }
      }
  }
}
.reservation {
 
  height:700px;

  &__background {
      
      height:500px;
      width:60%;
      
      margin-top: 138px;
      margin-left: 20%;
      margin-right: 20%;
      
      padding:2.5rem;

      .chapter {
          font-size: 0.6rem;
          
      }
      .title {
          font-size: 1.6rem;
          padding-bottom: 1.4rem;
      
      }
      .inputs {
         
          gap: 1.4rem;

          &__1 {
              
              width:11rem;
              margin: .8rem 0;
              padding:.8rem 0 .8rem .8rem;
              background-color: $color-black;
          }
          &__2 {
             
              width:6.9rem;
              margin: .8rem 0;
              padding:.8rem 0 .8rem .8rem;
           }
      }
  }
}

.topfooter {
  padding-top: 5rem;
  
  &__logo {
      height: 120px;
      }

  &__center {
      gap:0.2rem;
      
  }
}
.middlefooter {
  
  padding:0.7rem 0;

  &__left {
      
      gap:0.4rem;
      font-size: 0.8rem;
    
      .chapter {
          font-size: 0.6rem;
          margin-bottom: 2rem;
      }
    }

  &__center {

    .subscribe {
          width:15rem;
          padding:.8rem 0 .8rem .8rem;
        
      }
  }
  &__right {
      
      gap:0.3rem;
      font-size: 0.8rem;

      .sand {
          color: $color-sand;
      }
  }
}
.bottomfooter {
  
  font-size: 0.7rem;
  &__sand {
      color: $color-sand;
  }
}
.chapter {
  font-size: 0.6rem;
  margin-top: 4rem;
  margin-bottom: 1rem;

}
.menu {  
  gap:4rem;
  
  &__leftpart {
      
      gap:1.2rem;
      width:35%;

      .title{
          font-size: 1.6rem;
          
      }
      .text {
          line-height: 1.3;
        }
      }

  &__rightpart {
      gap:1.3rem;
      
      .category {
          font-size: 1.2rem;
          }

      .dish{
          gap:.8rem;
                    
      }
      
      .dishdisplay1 {
        border-bottom: 2px solid #AAAAAA;
          
      }
      .dishimage{
          width:60px;
      }
      .dishname {
          font-size: 1.1rem;
      }
      .dishdescription{
          padding-right: 18em;
          margin-top: -1.2rem;
                  
      }
      .dishdescription span {
          top: 1.9em;
          padding-right:5px;
          }
      
      .dishprice{
          font-size: 1.2rem;
          padding:1px 0 1px 4px;
        }
  }
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    max-width: 95%;
  }
  .btn {
    
    font-size: 1.1rem;
    padding: 1.2rem 1.8rem;
    
    &__clear {
        font-size: 1rem;
        width:200px;
    }
}
.btn__call {
    
    font-size: 1rem;
    padding: 1.2rem 1.6rem;
    
    }

.btn__bcgSand {
    
    font-size: 1.1rem;    
    padding: 1.2rem 2rem;
    
    }
    .btn__subscribe {
      padding: 1rem 1.8rem;
        
    }

    
  .header {
    
    &__top {
        .logo {
                margin: 2.8rem 0;
            }
    }

    &__nav {
        
        .lists {
            gap:3.8rem;
            margin: 1.4rem 0;
            }
        
        .social {
            height: 23px;

        }
    }

    &__banner {
        
        .leftside{
            width:50%;
            gap:3.3rem;

            &__title {
                
                font-size: 4.5rem;
                
            }
            &__content {
                font-size: 1.2rem;
                padding-right: 1rem;
                
                br {
                  display: none;
                }
            }
        }
        .rightside{
                      
            .bannerhinge {
                width:330px;
                margin-top: -18px;
                margin-right: -36px;
                
            }
        }
    }
}
.about {
  
  gap:5rem;
  padding:2.8rem 0;
    
}
.story {
  
  gap: 2.8rem;
  padding:2.8rem 0 3.8rem 0;

  &__left{
      width:48%;

  }
  &__right {
 
      .title {
          font-size: 2.3rem;
          
          padding:0 0 2rem 0;
      }
      
      .signature{
          height: 80px;
          // padding: 2rem 0;
      }
  }

}

.testimonial{

  padding: 4.8rem 0;
 
  &__title {
      font-size: 2.3rem;
      
  }
  .reviewcards {
      gap:1.8rem;
      margin: 2rem 0 3.3rem 0;

  }
}

.offer {
  margin-top:4rem;
}

.services {
  
  padding: 5rem 0;
  margin:5rem 0;

  &__leftside {
      
      .chapter {
        margin-top:2rem;
      }
      
  }
}
.reservation {
  
  &__background {
      width:60%;
      margin-top: 128px;
      margin-left: 20%;
      margin-right: 20%;
          
  }
}

.topfooter {
  padding-top: 4rem;
  
  &__logo {
      height: 140px;
      }
}

.menu {

  &__rightpart {
      
      .dishdescription{
          padding-right: 28em;
        }
      }
}

}