.chapter {
    display:inline-block;
    font-size: 0.7rem;
    padding:0.4rem 0 0.3rem 0;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 1.2px;
    border-top: 1px solid $color-sand;
    border-bottom: 1px solid $color-sand;
}
.menu {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap:5rem;
    // width:100%;

    

    &__leftpart {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        gap:1.5rem;
        width:30%;

        .title{
            font-size: 1.8rem;
            font-family: 'Cormorant Infant', serif;
            color: $color-black;
            
        }
        .text {
            line-height: 1.5;
            color:#555555;
        }
        .menuimage {
            width:100%;
        }

    }

    &__rightpart {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        gap:1.5rem;
        width:auto;
       
        height:auto;
        // max-width:1000px;
       

        .category {
            font-size: 1.4rem;
            font-family: 'Cormorant Infant', serif;
                }

        
        .dish{
            display:flex;
            justify-content: flex-start;
            align-items: center;
            gap:1rem;
            width:100%;
            
        }
        .dishdisplay {
            display:flex;
            flex-direction: column;
            // justify-content: space-between;
            align-items: flex-start;
            // width: fit-content;
            // gap:1.5rem;
            

        }
        .dishdisplay1 {
           
            
            border-bottom: 2px solid #AAAAAA;
            position: relative;
            float: left;
            width:100%;
            // height:20px;
            // width:600px;
            
        }
        .dishimage{
            width:65px;

        }
        .dishname {
            font-family: 'Cormorant Infant', serif;
            color: $color-black;
            font-size: 1.3rem;
        }
        .dishdescription{
            padding-right: 36em;
            margin-top: -1.2rem;
            color:#555555;
            // width:auto;
            // float:left;
            
            
        }
        .dishdescription span {
            // margin:0;
            position:relative;
            top: 1.9em;
            padding-right:5px;
            background-color: $color-white;
        }
        
        .dishprice{
            font-family: 'Cormorant Infant', serif;
            color: $color-black;
            font-size: 1.3rem;
            
            padding:1px 0 1px 5px;
            position:relative;
            top:.4em;
            
            float:right;
            background-color: $color-white;
        }

    }
}

