* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  border: 1px solid #E1B168;
  color: #E1B168;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  padding: 1.3rem 3rem;
  text-decoration: none;
}

.btn__call {
  border: 1px solid #E1B168;
  color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  width: 20%;
  padding: 1.3rem 2.8rem;
  text-decoration: none;
  text-align: center;
}

.btn__bcgSand {
  border: 1px solid #E1B168;
  color: #292E36;
  background-color: #E1B168;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.44px;
  width: 20%;
  padding: 1.3rem 2.8rem;
  text-align: center;
  text-decoration: none;
}

.header {
  width: 100%;
  height: auto;
  top: 0;
  background-color: #292E36;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top .logo {
  margin: 2.9rem 0;
  height: 160px;
}

.header__line {
  border-bottom: 1px solid #5C6168;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4.3rem;
  list-style-type: none;
  margin: 1.6rem 0;
  padding-left: 0;
  font-size: 1.05rem;
  letter-spacing: 0.3px;
}

.header__nav .list {
  color: #FFFFFF;
}

.header__nav .social {
  height: 25px;
}

.header__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__banner .leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3.5rem;
  margin-left: 7%;
}

.header__banner .leftside__title {
  font-family: 'Cormorant Infant', serif;
  font-size: 5rem;
  color: #FFFFFF;
  letter-spacing: 0.2px;
}

.header__banner .leftside__content {
  font-size: 1.2rem;
  color: #FFFFFF;
  letter-spacing: 0.2px;
}

.header__banner .rightside .bannerimage {
  height: 550px;
  padding: 0 1rem;
}
/*# sourceMappingURL=styles.css.map */